@charset "utf-8";


/* 1. Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


/* 2. Body */

*{
    margin:0;
    padding: 0;
}
body{
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    background: #ffffff;
    color: #1e1e27;
}

div{
    display: block;
    position: relative;
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin-bottom: 0px;
}
p{
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 500;
    color: #989898;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a{
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 2px #fde0db;
    transition: all 200ms ease;
}
a, a:hover, a:active, a:link{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active{
    position: relative;
    color: #ff6347;
}
p a:hover{
    color: #ff6347;
    background: #fde0db;
}
p a:hover::after{
    opacity: 0.2;
}
::selection{
    background: #fde0db;
    color: #ff6347;
}
pp::selection{
    background: #fde0db;
}
h1{font-size: 72px;}
h2{font-size: 40px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 16px;}
h6{font-size: 14px;}
h1, h2, h3, h4, h5, h6{
    color: #282828;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
.trans_300{
    transition: all 300ms ease;
}
::input-placeholder{
    font-size: 16px !important;
    font-weight: 500;
    color: #777777;
}
.super_container{
    width: 100%;
    overflow: hidden;
}
.fill_hight{
    height: 100%;
}

.loaderr{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    display: none;
    z-index: 1;
}

/* 3. Home */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 10;
}

/* Main Navigation */

.main_nav_container{
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 16px rgba(0, 0, 0, .015);
    background-color: rgb(140, 241, 231);
}
.navbar{
    width: auto;
    height: 100px;
    float: right;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar_menu li{
    display: inline-block;
}
.navbar_menu li a{
    display: block;
    color: #1e1e27;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px;
    transition: color 0.3s ease;
}
.navbar_menu li a:hover{
    color: #b5aec4;
}
.navbar_user{
    margin-left: 50px;
}
.navbar_user li{
    display: inline-block;
    text-align: center;
}
.navbar_user li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    color: #1e1e27;
    transition: color 0.3s ease;
}
.navbar_user li a:hover{
    color: #b5aec4;
}
.search-box{
    width: 250px;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: white;
    color: #a9a9a9;
    outline: none;
    margin-right: -25px;
}
.search-box::placeholder {
    color: #a9a9a9;
}
.fa-search{
    background: #eceff6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checkout{
    color: #b5aec4;

}
.checkout a{
    background: #eceff6;
    border-radius: 50%;
}
.checkout_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    left: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fe4c50;
    font-size: 12px;
    color: #ffffff;
}

/* Logo */
.logo_container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
.logo_container a{
    font-size: 20px;
    color: #1e1e27;
    font-weight: 700;
    text-transform: uppercase;
}
.logo_container a span{
    color: rgb(22, 176, 160);
}

/* Main Slider */
.main_slider{
    width: 100%;
    height: 653px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 100px;
} 
.main_slider_content{
    width: 70%;
}
.main_slider_content h1{
    font-weight: 600;
    line-height: 1;
    color: #ffffff;
    text-decoration-line: overline;
    text-shadow: 1px 1px 2px black, 0 0 25px turquoise, 0 0 5px darkturquoise;
}
.red_button{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: rgb(39, 238, 218);
    border-radius: 3px;
    transition: all 0.3s ease;
}
.red_button a{
    display: block;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
}
.red_button:hover{
    background: rgb(106, 249, 235);
}
.shop_now_button{
    width: 140px;
    margin-top: 32px;
}

/* Dropdown Shop menu */
.main_nav_container .main_menu_inner {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: right;
}

.main_nav_container .logo_container {
    display: block;
}

.header_black .header_bottom {
    border-bottom: 1px solid #2d2d2d;
}

.sticky-header.sticky {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 3px rgba(0,0,0,0.11);
    animation-name: fadeInDown;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.header_black .sticky-header.sticky {
    background: rgba(54, 63, 77, 0.9);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
}

.main_menu_inner {
    text-align: center;
}

.logo_container {
    display: none;
    margin-right: 35px;
}
.navbar_menu li {
    display: inline-block;
    position: relative;
}
.navbar_menu li a {
    margin-left: 2px;
}
.navbar_menu li:hover a {
    color: rgba(4, 131, 118, 0.778);
}
.navbar_menu li.active a {
    color: rgba(6, 196, 177, 0.738)e;
}
.navbar li:first-child a {
    padding-left: 0;
}
.navbar_menu li:last-child a {
    padding-right: 0;
}

.navbar_menu li ul.sub_menu {
    position: absolute;
    min-width: 200px;
    padding: 30px 25px;
    background: #fff;
    border: 1px solid #ebebeb;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 9;
    top: 100%;
    text-align: left;
}
.navbar_menu li ul.sub_menu li a {
    font-size: 15px;
}
.navbar_menu li:hover .sub_menu{
    opacity: 1;
    visibility: visible;
    transform: perspective(600px) rotateX(0deg);
}
.navbar_menu li ul li.active a,
.navbar_menu li ul li a:hover {
    color: #c09578;
}
.navbar_user a{
    margin-left: 20px;
    position: relative;
}
.navbar_user a i{
    width: 30px;
    cursor: pointer;
}
.user-img {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
.login-logout-popup{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    top: 40px;
    width: 200px;
    transition: .5s;
    border: 2px solid #f5f5f5;
    z-index: 1;
    cursor: pointer;
}
.login-logout-popup::after{
    content: '';
    position: absolute;
    top: -7.5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 5px;
}
.navbar_user li:hover .login-logout-popup,
.navbar_user li:focus-within .login-logout-popup{
    display: block;
  }
.account-info{
    font-size: 20px;
    text-transform: capitalize;
}
#user-btn{
    padding: 8px;
    background: #383838;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    text-transform: capitalize;
    cursor: pointer;
}

/* Login Form */
.login-form {
    padding: 3rem 0;
    max-width: 30rem;
    margin: 5rem auto;
    margin-bottom: 0;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form form h1 {
    margin-bottom: 0.9rem;
    font-size: 50px;
}

.login-form form p {
    margin-bottom: 1.4rem;
}

.login-form form label {
    margin-bottom: 0.4rem;
}

.login-form form input {
    border: 0.6px solid #ccc;
    outline: none;
    padding: 0.6rem 0;
    text-indent: 1rem;
    font-size: 0.85rem;
    margin-bottom: 1.1rem;
    border-radius: 0.5rem;
}

.login-form form input::placeholder {
    font: 1.6rem;
    color: rgb(135, 135, 135);
}

.login-form form button {
    outline: none;
    border: none;
    font-size: 1.1rem;
    padding: 0.7rem 3rem;
    margin-right: 7.5rem;
    margin-left: 7.5rem;
    background-color: turquoise;
    color: white;
    cursor: pointer;
}

.login-form form p a {
    color: dodgerblue;
}

/* Alert */
.alert-box{
    width: 300px;
    min-height: 150px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    z-index: 2;
}
.alert-box.show{
    opacity: 1;
    pointer-events: all;
    top: 50%;
    z-index: 1;
}
.alert-img{
    display: block;
    margin: 10px auto 20px;
    height: 100px;
}
.alert-msg{
    color: #e24c4b;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}

/* About Page */
.page_header{
    width: 100%;
    height: 270px;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 200px;
}
.page_header p{
    color: black;
}
.about_head{
    display: flex;
    align-items: center;
}
.about_head img{
    width: 42%;
    height: auto;
    padding-top: 40px;
}
.about_head div{
    padding-left: 40px;
    padding-right: 60px;
    text-align: justify;
}
.page_header p1{
    color: white;
}
.page_header h3{
    color: white;
}

/* Contact Page */
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
    padding-left: 50px;
}
#contact-details .details span{
    font-size: 12px;
    padding: 20px;
}
#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
.contact-form {
    padding: 0.8rem 0;
    max-width: 40rem;
    margin: 1rem auto;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form form h1 {
    margin-bottom: 1rem;
    font-size: 30px;
}

.contact-form form label {
    margin-bottom: 0.1rem;
}

.contact-form form input {
    border: 0.5px solid #ccc;
    outline: none;
    padding: 0.4rem 0;
    text-indent: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}
.contact-form form button {
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 0.4rem 0.4rem;
    margin-left: 9rem;
    background-color: turquoise;
    color: white;
    cursor: pointer;
    margin-top: 0.6rem;
}
